body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-top: 40px;
}

p {
    color: #666;
    font-size: 18px;
}

form {
    margin-top: 20px;
}

.logout-button {
    margin-left: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #666;
}


.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
}

.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 3px 16px; 
    text-decoration: none;
    border-radius: 5px;
    background-color: #333; 
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #666; 
}

.title {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #666;
    padding-bottom: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title h1 {
    color: #333;
    font-size: 36px; 
    margin-top: 40px; 
}

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 70vh;
    width: 80%;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 30px;
    border-bottom: 1px solid #666;
    padding-bottom: 20px;
}

.left-side {
    flex: 1;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: left; 
}

.left-side h2 {
    font-size: 24px; 
    color: #333;
}

.right-side {
    flex: 1;
    position: relative;
    overflow: hidden;
}


.left-side-2 {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.right-side-2 h2 {
    font-size: 24px; 
    color: #333;
}

.right-side-2 {
    flex: 1;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: left; 
}

.container2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 50vh;
    width: 80%;
    margin: 20px auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #666;
    padding-bottom: 20px;
    align-items: center;
}

.right-side-2 p {
    margin: 0;
    padding: 0;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

textarea.form-control {
    resize: vertical;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

#error-message {
    margin-top: 10px;
    font-weight: bold;
}
