
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-top: 40px;
}


form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
}

input[type="text"], input[type="password"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

/* Cambio de color al pasar el cursor sobre el botón */
input[type="submit"]:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
}

.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 3px 16px; 
    text-decoration: none;
    border-radius: 5px;
    background-color: #333; 
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #666; 
}

.user-image {
    margin-top: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.form-group label {
    display: flex;
    align-items: center;
}


.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.checkbox-group label {
    display: block;
    margin-top: 10px;
}

form {
    margin-top: 20px;
    text-align: center; /* Centrar contenido horizontalmente */
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido horizontalmente */
    width: 100%;
    text-align: center; /* Centrar contenido horizontalmente */
}

.checkbox-group label {
    display: block;
    margin-top: 10px;
    text-align: center; /* Centrar contenido horizontalmente */
}

/* Estilos para el checkbox */
.checkbox-group input[type="checkbox"] {
    width: auto; /* Ancho automático para ocupar todo el ancho del formulario */
    margin: 0 auto; /* Centrar el checkbox horizontalmente */
}